<div class="zippy-control">
  <button class="btn">Toggle</button>
</div>
<div class="zippy-content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nunc, aliquet ac nulla vitae, tempor aliquet
    sem. Pellentesque ut tortor volutpat, vestibulum lacus vel, semper nisi. Nulla dictum gravida orci, aliquet egestas
    ex
    aliquam vel. Maecenas et mauris lacus. Aliquam viverra nibh ligula, non cursus lectus dignissim sit amet. Maecenas
    tellus mauris, efficitur a massa vitae, pharetra vehicula orci. Integer vulputate, erat nec auctor commodo, massa
    erat
    bibendum nisl, at mollis ante arcu et mi. Mauris posuere pulvinar erat, a vestibulum quam rutrum quis.
  </p>
  <p>
    Mauris faucibus ornare turpis ac pretium. Duis lacinia a dolor vitae consequat. Nullam iaculis ut lacus id
    consequat.
    Etiam eget mi sed tellus lobortis faucibus. Donec bibendum accumsan felis. Nunc eget tincidunt sem, non maximus leo.
    Sed at aliquet lorem. Aenean varius, tortor vel finibus ultrices, diam risus placerat velit, nec egestas magna
    lectus
    eget mi. Etiam fermentum tellus non ligula consectetur, a aliquet tortor iaculis. Fusce eleifend, dolor sit amet
    rutrum vehicula, felis elit interdum mauris, vitae ornare ipsum dolor a tellus.
  </p>
  <p>
    Morbi nec posuere ipsum, viverra ullamcorper enim. Pellentesque placerat elit nec egestas ullamcorper. Etiam dictum
    gravida nisi, ut faucibus augue elementum eu. Ut id nisi nec felis imperdiet hendrerit nec a nibh. Donec suscipit
    justo non est hendrerit, ac eleifend metus laoreet. Fusce dignissim eu lorem eget sollicitudin. Vivamus venenatis
    nulla et diam eleifend ullamcorper. Aliquam at libero dictum, blandit nunc vel, blandit purus...
  </p>
</div>