<div class="panel panel-default personal-data-panel">
  <div class="panel-body">

    <div class="form-group">
      <img src="" class="js-img"/>
      <label>Photo URL:</label>
      <input class="form-control" value=""/>
    </div>

    <div class="form-group">
      <label>Name:</label>
      <span class="">TODO</span>
      <input class="form-control" value=""/>
    </div>

    <div class="form-group">
      <label>Age:</label>
      <span class="">TODO</span>
      <input class="form-control" type="number" value=""/>
    </div>

  </div>
</div>